body {
  background: url(images/instructions.jpg) no-repeat center center;
  background-attachment: fixed;
  background-size: 1280px 720px;
}

.button1 {
  position: absolute;     
  top: 138px;      
  right: 490px;
  width: 120px;
  height: 100px;
  border-radius: 8px;
}