body {
  background: url(images/mainmenu.png) no-repeat center center;
  background-attachment: fixed;
  background-size: 1280px 720px;
}

#button1 {
  position: absolute;      
  top: 110px;      
  right: 90px;
  width: 475px;
  height: 73px;
  border-radius: 8px;
}

#button2 {
  position: absolute;      
  top: 215px;      
  right: 90px;
  width: 475px;
  height: 73px;
  border-radius: 8px;
}

#button3 {
  position: absolute;      
  top: 312px;      
  right: 90px;
  width: 475px;
  height: 73px;
  border-radius: 8px;
}

#button4 {
  position: absolute;      
  top: 430px;      
  right: 90px;
  width: 475px;
  height: 73px;
  border-radius: 8px;
}
